$Colorbackground: #ecfff9;
$Colorborder: #cbe7de;

.rowAddWord {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__addWord {
    width: 150px;
    height: 25px;
    padding: 0;
    background-color:$Colorbackground;
    border: none;
  }
  &_addWord-red {
    width: 148px;
    height: 25px;
    padding: 0;
    background-color: $Colorbackground;
    border: 1px solid $Colorborder;
    border-radius: 5px;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}