.button {
    margin: 15px;
    padding: 10px;
    border: none;
    border-radius: 9%;
    background-color: rgb(26, 186, 106);
}

.button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}