.btn-edit {
    width: 60px;
    height: 30px;
    margin: 5px;
    background-color: #bdf5e3;
    border: none;
    border-radius: 5px;

    &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}