.button {
    margin: 15px;
    padding: 10px;
    background-color: #97ccb2;
    border: none;
    border-radius: 9%;
    &:focus {
      outline-offset: 1px;
    }
}

.button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}