$Colortext: #484e40;
$Colorbackground: #ecfff9;

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  &__wordsCount {
    padding: 10px;
    color: $Colortext;
    background-color: #f8f8fa;
    border-radius: 9%;
  }
  &__oneCard {
    display: flex;
    align-items: center;
  }
  &__numberCard {
    padding: 10px;
    color: $Colortext;
    background-color: $Colorbackground;
    border-radius: 9%;
  }
  @media (max-width: 600px) {
    padding-top: 5em;
  }
}