$colorCard: #cbe7de;

@mixin bodyPosition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 20px;
  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  &__body {
    @include bodyPosition;
    width: 15em;
    height: 20em;
    margin: 1em;
    background-color: $colorCard;
    border-radius: 9%;
  }
}

.body-card__word {
    font-size: 1.5em;
    font-weight: bold;
  }

.body-card__transcription {
  margin-bottom: 3em;
}