$colorText: #2e9e6b;

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  &__name {
    margin: 10px;
    font-size: large;
    font-weight: bold;
    color: $colorText;
  }
  &__col {
    width: 150px;
    color: #484e40;
  }
}